<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=.;Initial Catalog=ExchangeProject;User Id=sa;Password=server2012.;pooling=false" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="UserIsExcit" value="Trues" />
    <add key="UsdtRate" value="7" />
    <add key="DifficultySwitch" value="Trues" />
    <add key="ReturnSwitch" value="Trues" />
    <add key="EndConSwitch" value="Trues" />
    <add key="ShareSwitch" value="Trues" />
    <add key="AdressSwitch" value="Trues" />
    <add key="DegreeOfDifficulty" value="0.2" />
    <add key="SelectSwitch" value="Trues" />
    <add key="PriceDataSwitch" value="True" />
    <add key="CancleRobotSwitch" value="True" />
    <add key="AndriodVersion" value="1.3.3" />
    <add key="iOSVersion" value="1.0.0" />
    <add key="iOSIsUpdate" value="True" />
    <add key="AndriodIsUpdate" value="True" />
    <add key="webpages:Version" value="3.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="token" value="qwe123!QAZ" />
    <add key="PersentFit" value="0.1" />
    <add key="AppKey" value="9c254a9af73c8b23b0122aab" />
    <add key="MasterSecret" value="8e5c976c22740b4b02854291" />
    <add key="TldSwitch" value="Trues" />
    <!-- 连接字符串是否加密 -->
    <add key="ConStringEncrypt" value="false" />
    <!-- 数据库连接字符串,（如果采用加密方式，上面一项要设置为true；加密工具，可在官方下载，
     如果使用明文这样server=127.0.0.1;database=.....,上面则设置为false。 -->
    <!-- <add key="ConnectionString" value="Data Source=rm-2ze64uh2hm28i6p8y.sqlserver.rds.aliyuncs.com,3433;Initial Catalog=tcw_db;User Id=tcw_admin;Password=Tcw123456;pooling=false" />-->
    <add key="ConnectionString" value="Data Source=.;Initial Catalog=ExchangeProject;User Id=sa;Password=server2012.;pooling=false" />
    <!-- 签名证书路径，证书位于assets/测试环境证书/文件夹下，请复制到d:/certs文件夹 -->
    <add key="acpsdk.signCert.path" value="c:/certs/acp_prod_sign.pfx" />
    <!-- 签名证书密码，测试证书默认000000 -->
    <add key="acpsdk.signCert.pwd" value="8822908" />
    <!-- 加密证书路径 -->
    <add key="acpsdk.encryptCert.path" value="c:/certs/acp_test_enc.cer" />
    <!-- 验签中级证书路径 -->
    <add key="acpsdk.middleCert.path" value="c:/certs/acp_test_middle.cer" />
    <!-- 验签根证书路径 -->
    <add key="acpsdk.rootCert.path" value="c:/certs/acp_test_root.cer" />

    <!-- 签名方式，证书方式固定01，请勿改动。 -->
    <add key="acpsdk.signMethod" value="01" />
    <!-- 报文版本号，固定5.1.0，请勿改动。。 -->
    <add key="acpsdk.version" value="5.1.0" />

    <!-- 是否验证https证书，测试环境请设置false，生产环境建议优先尝试true，不行再false。非true的值默认都当false处理 -->
    <add key="acpsdk.ifValidateRemoteCert" value="false" />
    <!-- 是否验证验签证书的CN，测试环境请设置false，生产环境请设置true。非false的值默认都当true处理 -->
    <add key="acpsdk.ifValidateCNName" value="false" />

    <!-- 前台通知地址，填写处理银联前台通知的地址 -->
    <add key="acpsdk.frontUrl" value="http://pay.bitfox.vip/demo/api_05_app/FrontRcvResponse.aspx" />
    <!--后期必须修改地址-->
    <!-- 后台通知地址，填写后台接收银联后台通知的地址，必须外网能访问 -->
    <add key="acpsdk.backUrl" value="http://pay.bitfox.vip/demo/api_05_app/BackRcvResponse.aspx" />
    <!--后期必须修改域名-->

    <!--########################## 测试环境地址（生产环境地址见assets文件夹下面的生产环境配置文件） #############################-->
    <!-- 前台交易地址 -->
    <add key="acpsdk.frontTransUrl" value="https://gateway.95516.com/gateway/api/frontTransReq.do" />
    <!-- 后台交易地址 -->
    <add key="acpsdk.backTransUrl" value="https://gateway.95516.com/gateway/api/backTransReq.do" />
    <!-- 交易状态查询地址 -->
    <add key="acpsdk.singleQueryUrl" value="https://gateway.95516.com/gateway/api/queryTrans.do" />
    <!-- 文件传输类交易地址 -->
    <add key="acpsdk.fileTransUrl" value="https://filedownload.95516.com/" />
    <!-- 批量交易地址 -->
    <add key="acpsdk.batTransUrl" value="https://gateway.95516.com/gateway/api/batchTrans.do" />
    <!-- 有卡交易地址 -->
    <add key="acpsdk.cardRequestUrl" value="https://gateway.95516.com/gateway/api/cardTransReq.do" />
    <!-- app交易地址 手机控件支付使用该地址-->
    <add key="acpsdk.appRequestUrl" value="https://gateway.95516.com/gateway/api/appTransReq.do" />

    <!-- 前台交易地址 -->
    <add key="acpsdk.jf.frontTransUrl" value="https://gateway.95516.com/jiaofei/api/frontTransReq.do" />
    <!-- 后台交易地址 -->
    <add key="acpsdk.jf.backTransUrl" value="https://gateway.95516.com/jiaofei/api/backTransReq.do" />
    <!-- 交易状态查询地址 -->
    <add key="acpsdk.jf.singleQueryUrl" value="https://gateway.95516.com/jiaofei/api/queryTrans.do" />
    <!-- 有卡交易地址 -->
    <add key="acpsdk.jf.cardRequestUrl" value="https://gateway.95516.com/jiaofei/api/cardTransReq.do" />
    <!-- app交易地址 手机控件支付使用该地址-->
    <add key="acpsdk.jf.appRequestUrl" value="https://gateway.95516.com/jiaofei/api/appTransReq.do" />


    <!--##########################log4net配置#############################-->
    <!--##########################log4net配置#############################-->
    <add key="log4net.Config" value="log4net.config" />
    <add key="log4net.Config.Watch" value="True" />
  </appSettings>
  <system.web>
    <customErrors mode="Off" />
    <authentication mode="None" />
    <compilation targetFramework="4.6.2" />
    <httpRuntime targetFramework="4.6.2" />
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
    </modules>
    <handlers>
            <remove name="CGI-exe" />
            <remove name="ISAPI-dll" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
<httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Max-Age" value="30" />
        <add name="Access-Control-Allow-Methods" value="GET,POST,OPTIONS,PUT,GET" />
        <add name="Access-Control-Allow-Headers" value="Content-Type, Accept" />
      </customHeaders>
    </httpProtocol>
   <rewrite>
      <rules>
        <rule name="API Rule" enabled="false" stopProcessing="true">
          <match url="^(api|account|manage)(.*)$" />
          <action type="Redirect" url="/" />
        </rule>
        <rule name="Angular Rule" enabled="false" stopProcessing="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/" />
        </rule>
                <rule name="Test">
                    <match url="^((?!(api)).)*$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="/" />
                </rule>
      </rules>
    </rewrite>
        <defaultDocument>
            <files>
                <remove value="index.html" />
                <add value="index.html" />
            </files>
        </defaultDocument>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>